* {
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: orange;
  height: 150px;
  display: flex;
  flex-direction: column;
}

.top-bar__menus {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  background-color: palegoldenrod;
  margin: 0;
  padding: 7px 0px;
}

.top-bar__menu {
  margin: 0px 5px;
}

.top-bar__searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
