.signUp-container {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 50%;
}

.signup_formbox {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.signup_input {
  display: flex;
}
